<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Tour List</h1>
      <ul class="list-group">
        <% tours.forEach(tour => { %>
        <li class="list-group-item">
          <h2><%= tour.name %></h2>
          <h2>ID: <%= tour.id %></h2>
          <p>Duration: <%= tour.duration %> days</p>
          <p>Difficulty: <%= tour.difficulty %></p>
          <p>Price: $<%= tour.price %></p>
          <a href="/update/<%= tour.id %>" type="submit" class="btn btn-warning"
            >Update</a
          >
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
